  <!-- ======= Header ======= -->
  {% load static %}
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">Mentor</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="{% static 'assets/img/logo.png ' %}" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="active" href="/">Home</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/cources/">Courses</a></li>
          <li><a href="/trainers/">Trainers</a></li>
          {% comment %} <li><a href="events.html">Events</a></li> {% endcomment %}
          <li><a href="/pricing/">Pricing</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      
      {% comment %} <li><a href="/classauth/logout">logout</a></li> {% endcomment %}
       {% if request.user.is_authenticated %}

           
      <a href="/logout/" style="padding: 7px 12px;" class="get-started-btn">Logout {{ user.username }}</request></a>
            
            {% else %}
      <a href="/login/" style="padding: 7px 12px;" class="get-started-btn">Login {{ user.username }}</request></a>

            {% endif %}
    </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
