{% extends 'nav.html' %} 

{% block title %}
CodeWithAK
{% endblock title %}

{% block form %} 
<br>
<section id="hero" class="d-flex justify-content-center align-items-center">
        <div class="container position-relative " data-aos="zoom-in" data-aos-delay="100">
            <h1 style="color: white; text-align: center;">Signup</h1>
           
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                <strong></strong>{{message}} 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor %}


            <form action="/classauth/signup/" method="post" style="max-width: 400px; margin: 0 auto;">
               {% csrf_token %}
                <br>
                <label for="username" style="color: white;"></label>
                <div class="form-group">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter the username">
                </div>
                <label for="fname" style="color: white;"></label>
                <div class="form-group">
                    <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter First Name" required>
                </div>
                <label for="lname" style="color: white;"></label>
                <div class="form-group">
                    <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Last Name" required>
                </div>
                <label for="email" style="color: white;"></label>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email" required>
                </div>
                <label for="pass1" style="color: white;"></label>
                <div class="form-group">
                    <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Password" required>
                </div>
                <label for="pass2" style="color: white;"></label>
                <div class="form-group">
                    <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Confirm password" required>
                </div>
                <br>
                <button type="submit" class="btn btn- btn-sm btn-block" style="text-align: center; color: white;">Signin</button>
                <br>
                <p style="text-align: center; color: white;">Already a user? <a href="/classauth/login" style="color: white;">Login</a></p>
                <br>
                <!-- <p style="text-align: center; color: white;"><a href="/" style="color: white;">Home</a></p> -->
            </form>
        </div>
    </section>


{% endblock form %}